# Test utilities
pytest==7.4.0
expecttest
unittest-xml-reporting
parameterized
packaging
transformers

# For prototype features and benchmarks
bitsandbytes #needed for testing triton quant / dequant ops for 8-bit optimizers
matplotlib
pandas 

# Custom CUDA Extensions
ninja
