# Test utilities
pytest==7.4.0
unittest-xml-reporting
parameterized
packaging
transformers

# For prototype features and benchmarks
bitsandbytes #needed for testing triton quant / dequant ops for 8-bit optimizers
matplotlib
pandas
fire  # QOL for commandline scripts
tabulate  # QOL for printing tables to stdout

# Custom CUDA Extensions
ninja

# for FP6-LLM (can be removed once we remove fp16_to_fp6_original())
qtorch
