# Currently, we ignore all files in the project by default.
# We plan to add files in chunks using the 'include' list below.
# To add a new path: Simply add it to the 'include' list.
# Example: To lint all files in every subfolder of 'test', add "test/**/*"
include = [
    "torchao/float8/**/*.py",
    "test/dtypes/test_nf4.py",
    "torchao/quantization/**/*.py",
    "test/quantization/test_observer.py",
    "test/dtypes/test_affine_quantized_float.py",
    "torchao/dtypes/**/*.py",
    "torchao/prototype/low_bit_optim/**.py",
    "test/prototype/low_bit_optim/**.py",
]

lint.ignore = ["E731"]
