name: Run Regression Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: regression_test-${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

env:
  HF_TOKEN: ${{ secrets.HF_TOKEN }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: CUDA 2.2.2
            runs-on: linux.g5.12xlarge.nvidia.gpu
            torch-spec: 'torch==2.2.2'
            gpu-arch-type: "cuda"
            gpu-arch-version: "12.1"
          - name: CUDA 2.3
            runs-on: linux.g5.12xlarge.nvidia.gpu
            torch-spec: 'torch==2.3.0'
            gpu-arch-type: "cuda"
            gpu-arch-version: "12.1"
          - name: CUDA Nightly
            runs-on: linux.g5.12xlarge.nvidia.gpu
            torch-spec: '--pre torch --index-url https://download.pytorch.org/whl/nightly/cu121'
            gpu-arch-type: "cuda"
            gpu-arch-version: "12.1"
          - name: CPU 2.2.2
            runs-on: linux.4xlarge
            torch-spec: 'torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu'
            gpu-arch-type: "cpu"
            gpu-arch-version: ""
          - name: CPU 2.3
            runs-on: linux.4xlarge
            torch-spec: 'torch==2.3.0 --index-url https://download.pytorch.org/whl/cpu'
            gpu-arch-type: "cpu"
            gpu-arch-version: ""
          - name: CPU Nightly
            runs-on: linux.4xlarge
            torch-spec: '--pre torch --index-url https://download.pytorch.org/whl/nightly/cpu'
            gpu-arch-type: "cpu"
            gpu-arch-version: ""

    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      timeout: 60
      runner: ${{ matrix.runs-on }}
      gpu-arch-type: ${{ matrix.gpu-arch-type }}
      gpu-arch-version: ${{ matrix.gpu-arch-version }}
      script: |
        conda create -n venv python=3.8 -y
        conda activate venv
        echo "::group::Install newer objcopy that supports --set-section-alignment"
        yum install -y  devtoolset-10-binutils
        export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        python -m pip install --upgrade pip
        pip install ${{ matrix.torch-spec }}
        pip install -r dev-requirements.txt
        pip install .
        pytest test --verbose -s
