name: Validate binaries

on:
  workflow_call:
    inputs:
      channel:
        description: "Channel to use (nightly, test, release, all)"
        required: false
        type: string
        default: release
      ref:
        description: "Reference to checkout, defaults to empty"
        default: ""
        required: false
        type: string
  workflow_dispatch:
    inputs:
      channel:
        description: "Channel to use (nightly, test, release, all)"
        required: true
        type: choice
        options:
          - release
          - nightly
          - test
          - all
      ref:
        description: "Reference to checkout, defaults to empty"
        default: ""
        required: false
        type: string
      pytorch_version:
        description: "PyTorch version to validate (ie. 2.0, 2.2.2, etc.) - optional"
        default: ""
        required: false
        type: string
jobs:
  validate-binaries:
    uses: pytorch/test-infra/.github/workflows/validate-domain-library.yml@main
    with:
      package_type: "wheel"
      version: ${{ inputs.version }}
      os: "linux"
      channel: ${{ inputs.channel }}
      repository: "pytorch/ao"
      with_cuda: "enable"
      with_rocm: "disable"
      smoke_test: "source ./.github/scripts/validate_binaries.sh && source ./.github/scripts/test_compatibility.sh"
      install_torch: true
